{% extends 'base.html' %}

<!DOCTYPE html>
{% block content %}


<html>
  <head>
    <title>Help</title>
  </head>
  <body style="background-color:beige;">
    <h1><center>HELP</center></h1>
    <h2>CONFIGURATION</h2>
    <p>A sample flight plan involving delivery of items from Locations A and B to Home is provided below</p><br>
    <p>Home -> A;</p>
    <p>Pickup A -> Home;</p>
    <p>Dropoff Home -> B;</p>
    <p>Pickup B -> Home;</p>
    <p>Dropoff Home -> DONE;</p>
    </br>
    <h2>CONTROL</h2>
    <p>Each button on the remote control maps to certain API calls, allowing the drone to execute a specified command</p><br>
    <p>The display on the right hand side serves as a view for the drone during flight</p>
    </br>
    <h2>SUPPORT</h2>
    <p>For additional support, please reach out the team via the Contact Page</p>
    </br>

  </body>


{% endblock %}

</html>
