<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/config.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename='js/config.js')}}"></script>


    {% extends "base.html" %}

    {% block title %}
      Configuration
    {% endblock %}

  </head>

  {% block content %}


    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <center>
        <div class="col-md-6 px-0">
          <h1 class="display-3">Configure Your Flight Plan</h1>
          <p class="lead my-3">Insert instructions for the user to follow on this page</p>
          <p>
            <button type="button" class="btn btn-primary my-2" onclick="validate_flight_plan()">Validate</button>
            <button type="button" class="btn btn-primary my-2" onclick="submit_flight_plan()">Submit</button>
          </p>
        </div>
      </div>
  </center>

  <body>

<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <div class="column" style="background-color:#ffffff;">
    <center>
      <h3> Enter Flight Plan Below:</h3>
      <textarea id= "fplanfield" rows = "10" cols = "60" id= "fplan"></textarea>
    </center>
      <script>
        function validate_flight_plan(){
          var fplan = document.getElementById("fplanfield").value;
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/validate_flight_plan", true);
          xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          xhr.send("fplanfield=" + encodeURIComponent(fplan));
        }
      </script>

    <script>
        function submit_flight_plan(){
          var fplan = document.getElementById("fplanfield").value;
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/submit_flight_plan", true);
          xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          xhr.send("fplanfield=" + encodeURIComponent(fplan));
        }
      </script>
  </div>
  <div class="column" style="background-color:#ffffff;">
    <center>
      <h2>Example Flight Plan</h2>
      <p>Some text..</p>
    </center>

  </div>
</div>

</body>


  <center>






    </center>
    {% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{url_for('static',filename='popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <script src=".{{url_for('static',filename='holder.min.js')}}"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>




</html>
