<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet">




    {% extends "base.html" %}

    {% block title %}
      Configuration
    {% endblock %}
  <style>
      table {
        border-collapse: separate;
        border-spacing: 0 15px;
      }



    </style>

  </head>

  {% block content %}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <center>
        <div class="col-md-6 px-0">
          <h1 class="display-3">Manual Control</h1>
          <p class="lead my-3">Assume manual control over the drone with these buttons</p>
        </div>
      </center>
      </div>


  <body>
    <center>
    <table id="remote">
      <tr>
        <td></td>
        <td><center><input type="button" value="Takeoff" id="takeoffButton"></center></td>
        <td><center><input type="button" value="Land" id="landButton"></center> </td>
        <td><center><input type="button" value="Kill" id="emergencyButton"></center> </td>
        <td></td>
      </tr>


      <tr>
        <td>
          <form action="/set_speed" method="POST">
            <center>
            <input type="range" min="10" max="100" step="1" id="speedSlider" name="speedSlider"  onchange="updateRange(this.value)"><br>
            <span id="sliderSpeed"></span>
            <input type="hidden" id="slider-value" name="slider-value" value="">
            <button type="submit" onclick="captureValue()">Set Speed</button>
            </center>
          </form>
        </td>
        <td></td>
        <td>
          <center>
          <input type="button" value="Motor On" id="motorOnButton">
          <input type="button" value="Motor Off" id="motorOffButton">
          </center>
        </td>
        <td></td>
        <td>
          <form action="/flip" method="POST">
            <button type="submit" name="button" value="f">FrontFlip</button>
            <button type="submit" name="button" value="b">BackFlip</button>
            <button type="submit" name="button" value="l">FlipLeft</button>
            <button type="submit" name="button" value="r">FlipRight</button>
          </form>
        </td>
        <td></td>

      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>


      <tr>
        <td>
        <center>
            <form action="/drone_move" method="POST">
              <button type="submit" name="button" value="forward">Forward</button>
              <input type="text" id="fwbwValue" name="value" size="2">
              <button type="submit" name="button" value="back">Backward</button>
            </form>
        </center>
        </td>
        <td></td>
        <td>
          <form action="/drone_move" method="POST">
            <center>
            <button type="submit" name="button" value="up">Up</button>
            <button type="submit" name="button" value="down">Down</button>
            <input type="text" id="uldrValue" name="value" size="2">
            <button type="submit" name="button" value="left">Left</button>
            <button type="submit" name="button" value="right">Right</button>
            </center>
          </form>
        </td>
        <td></td>
        <td>
          <form action="/drone_rotate" method="POST">
            <center>
            <button type="submit" name="button" value="cw">Clockwise</button>
            <input type="text" id="cwccwValue" name="value" size="2">
            <button type="submit" name="button" value="ccw">CounterClockwise</button>
            </center>
          </form>
        </td>
      </tr>

      <tr>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>



    </table>
    </center>









    <script>
      function captureValue(){
        var sliderValue = document.getElementById("speedSlider").value;
        document.getElementById("slider-value").value = sliderValue;
      }

      function updateRange(x){
        document.getElementById("sliderSpeed").innerHTML=x;
      }

      document.getElementById("takeoffButton").onclick = function() {
      // Make an AJAX request to the server to send the takeoff command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/takeoff", true);
      xhr.send();
      };
      document.getElementById("landButton").onclick = function() {
      // Make an AJAX request to the server to send the land command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/land", true);
      xhr.send();
      };

      document.getElementById("emergencyButton").onclick = function() {
      // Make an AJAX request to the server to send the emergency command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/emergency_shutoff", true);
      xhr.send();
      };



      document.getElementById("motorOffButton").onclick = function() {
      // Make an AJAX request to the server to send the motor off command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/motor_off", true);
      xhr.send();
      };

      document.getElementById("motorOnButton").onclick = function() {
      // Make an AJAX request to the server to send the motor on command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/motor_on", true);
      xhr.send();
      };

    </script>


  </body>


{% endblock %}

</html>
