<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet">




    {% extends "base.html" %}

    {% block title %}
      Configuration
    {% endblock %}
  <style>
      table {
        border-collapse: separate;
        border-spacing: 0 15px;
      }



    </style>

  </head>

  {% block content %}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <center>
        <div class="col-md-6 px-0">
          <h1 class="display-3">Manual Control</h1>
          <p class="lead my-3">Assume manual control over the drone with these buttons</p>
        </div>
      </center>
      </div>


  <body>
    <center>
    <table id="remote">
      <tr>
        <td><center><input type="button" value="Takeoff" id="takeoffButton"></center></td>
        <td><center><input type="button" value="Land" id="landButton"></center> </td>
        <td><center><input type="button" value="Kill" id="emergencyButton"></center> </td>
      </tr>
      <tr>
        <td><center><p></p></center></td>
        <td><center><p>Motor Control</p></center></td>
        <td><p style="text-align:center">Flip Control</p></td>
      </tr>

      <tr>
        <td>
          <center><span id="sliderValue"></span></center>
          <input type="range" min="10" max="100" name="speedSlider" value="50" onchange="show_speed(this.value)"><br>
        </td>
        <td>
          <center>
          <input type="button" value="On" id="motorOnButton">
          <input type="button" value="Off" id="motorOffButton">
          </center>
        </td>
        <td>
          <center><input type="button" value="Up" id="flipUpButton"></center>

        </td>
      </tr>
      <tr>
        <td><center><input type="button" value="Set Speed" id="speedSetter" onclick=""></center></td>
        <td></td>
        <td>

          <input type="button" value="Left" id="flipLeftButton">
          <input type="button" value="Down" id="flipDownButton">
          <input type="button" value="Right" id="flipRightButton">

        </td>
      </tr>

      <tr>
        <td>
        <center>
        <input type="button" value="Forward" id="forwardButton" >
        </center>
        </td>
        <td>
          <center>
            <input type="button" value="Up" id="upButton" >
          </center>
        </td>
        <td>
          <center>
            <input type="button" value="Clockwise" id="cwButton" >
          </center>
        </td>
      </tr>

      <tr>
        <td>
        <center><input type="text" id="fwbwValue" size="2"></center>
        </td>
        <td>
          <center>
          <input type="button" value="Left" id="leftButton" >
          <input type="text" id="uldrValue" size="2">
          <input type="button" value="Right" id="rightButton" >
          </center>
        </td>
        <td>
           <center><input type="text" id="cwccwValue" size="2"></center>
        </td>
      </tr>
      <tr>
        <td>
        <center>
        <input type="button" value="Backward" id="backwardButton" >
        </center>
        </td>
        <td>
          <center>
            <input type="button" value="Down" id="downButton" onclick="getULDRValue()">
          </center>
        </td>
        <td>
          <center>
            <input type="button" value="CounterClockwise" id="ccwButton" >
          </center>
        </td>
      </tr>



    </table>
    </center>









    <script>

      function show_speed(x){
        document.getElementById("sliderValue").innerHTML=x;
      }
      document.getElementById("takeoffButton").onclick = function() {
      // Make an AJAX request to the server to send the takeoff command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/takeoff", true);
      xhr.send();
      };
      document.getElementById("landButton").onclick = function() {
      // Make an AJAX request to the server to send the land command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/land", true);
      xhr.send();
      };

      document.getElementById("emergencyButton").onclick = function() {
      // Make an AJAX request to the server to send the emergency command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/emergency_shutoff", true);
      xhr.send();
      };

      document.getElementById("speedSetter").onclick = function(){
        var slider = document.getElementById("sliderValue");
        var speed = slider.value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/set_speed", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send('speed=' + speed);
      }





    </script>


  </body>


{% endblock %}

</html>