<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet">

     <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/justgage@1.4.0/justgage.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% extends "base.html" %}

    {% block title %}
      Flight
    {% endblock %}
  </head>

  <body>
    {% block content %}

    <!-- Gauges -->
        <div class="container">
            <div class="row justify-content-around my-5">
                <div class="col-4 text-center">
                    <h4>Temperature (°C)</h4>
                    <div id="tempGauge"></div>
                </div>
                <div class="col-4 text-center">
                    <h4>Battery (%)</h4>
                    <div id="batteryGauge"></div>
                </div>
                <div class="col-4 text-center">
                    <h4>Altitude (cm)</h4>
                    <div id="altitudeGauge"></div>
                </div>
            </div>
        </div>

    <div class="container">
            <div class="row justify-content-around my-5">
               <div class="col-4 text-center">
                    <h4>Yaw</h4>
                    <div id="yawGauge"></div>
                </div>
                <div class="col-4 text-center">
                    <h4>Pitch</h4>
                    <div id="pitchGauge"></div>
                </div>
                  <div class="col-4 text-center">
                    <h4>Roll</h4>
                    <div id="rollGauge"></div>
                </div>

            </div>
        </div>

<!--    <div class="container">-->
<!--            <div class="row justify-content-around my-5">-->
<!--                <div class="col-4 text-center">-->
<!--                    <h4>vgx</h4>-->
<!--                    <div id="vgxGauge"></div>-->
<!--                </div>-->
<!--                <div class="col-4 text-center">-->
<!--                    <h4>vgy</h4>-->
<!--                    <div id="vgyGauge"></div>-->
<!--                </div>-->
<!--                <div class="col-4 text-center">-->
<!--                    <h4>vgz</h4>-->
<!--                    <div id="vgzGauge"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<div class="container-fluid">
  <div class="row d-flex flex-row">
    <div class="col-md-4">
      <h4>Velocity and Acceleration on the X-Axis</h4>
      <div style="height: 400px; overflow: auto;">
        <canvas id="xchart"></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Velocity and Acceleration on the Y-Axis</h4>
      <div style="height: 400px; overflow: auto;">
        <canvas id="ychart"></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Velocity and Acceleration on the Z-Axis</h4>
      <div style="height: 400px; overflow: auto;">
        <canvas id="zchart"></canvas>
      </div>
    </div>
  </div>
</div>




    <script>

// Chart Configuration
var configX = {
  type: 'line',
  data: {
    labels: [],
    datasets: [{
      label: 'Velocity (cm/s)',
      data: [],
      borderColor: 'rgb(54, 162, 235)',
      tension: 0.1
    }, {
      label: 'Acceleration (cm/s²)',
      data: [],
      borderColor: 'rgb(255, 99, 132)',
      tension: 0.1
    }]
  },
  options: {
      height: 400,
    responsive: true,
    maintainAspectRatio: true,
    scales: {
      x: {
        title: {
          display: true,
          text: 'Time'
        },
        ticks: {
          autoSkip: true,
          maxTicksLimit: 20
        }
      },
      y: {
        title: {
          display: true,
          text: 'Value'
        }
      }
    }
  }
};

var configY = {
  type: 'line',
  data: {
    labels: [],
    datasets: [{
      label: 'Velocity (cm/s)',
      data: [],
      borderColor: 'rgb(54, 162, 235)',
      tension: 0.1
    }, {
      label: 'Acceleration (cm/s²)',
      data: [],
      borderColor: 'rgb(255, 99, 132)',
      tension: 0.1
    }]
  },
  options: {
      height: 400,
    responsive: true,
    maintainAspectRatio: true,
    scales: {
      x: {
        title: {
          display: true,
          text: 'Time'
        },
        ticks: {
          autoSkip: true,
          maxTicksLimit: 20
        }
      },
      y: {
        title: {
          display: true,
          text: 'Value'
        }
      }
    }
  }
};

var configZ = {
  type: 'line',
  data: {
    labels: [],
    datasets: [{
      label: 'Velocity (cm/s)',
      data: [],
      borderColor: 'rgb(54, 162, 235)',
      tension: 0.1
    }, {
      label: 'Acceleration (cm/s²)',
      data: [],
      borderColor: 'rgb(255, 99, 132)',
      tension: 0.1
    }]
  },
  options: {
      height: 400,
    responsive: true,
    maintainAspectRatio: true,
    scales: {
      x: {
        title: {
          display: true,
          text: 'Time'
        },
        ticks: {
          autoSkip: true,
          maxTicksLimit: 20
        }
      },
      y: {
        title: {
          display: true,
          text: 'Value'
        }
      }
    }
  }
};

var xchart = new Chart(document.getElementById('xchart'), configX);
function updateXChart(time, velocity, acceleration) {
  configX.data.labels.push(time);
  configX.data.datasets[0].data.push(velocity);
  configX.data.datasets[1].data.push(acceleration);

  xchart.update();
}

var ychart = new Chart(document.getElementById('ychart'), configY);
function updateYChart(time, velocity, acceleration) {
  configY.data.labels.push(time);
  configY.data.datasets[0].data.push(velocity);
  configY.data.datasets[1].data.push(acceleration);

  ychart.update();
}

var zchart = new Chart(document.getElementById('zchart'), configZ);
function updateZChart(time, velocity, acceleration) {
  configZ.data.labels.push(time);
  configZ.data.datasets[0].data.push(velocity);
  configZ.data.datasets[1].data.push(acceleration);

  zchart.update();
}


  var tempGauge = new JustGage({
    id: "tempGauge",
    value: 0,
    min: 30,
    max: 90,
    title: "Temperature",
    label: "°C"
  });

  var batteryGauge = new JustGage({
    id: "batteryGauge",
    value: 0,
    min: 0,
    max: 100,
    title: "Battery",
    label: "%"
  });

  var altitudeGauge = new JustGage({
    id: "altitudeGauge",
    value: 0,
    min: 0,
    max: 500,
    title: "Altitude",
    label: "cm"
  });

  var pitchGauge = new JustGage({
      id: "pitchGauge",
      value: 0,
      min: -180,
      max: 180,
      title: "Pitch",
      label: "degrees"
  });

  var rollGauge = new JustGage({
      id: "rollGauge",
      value: 0,
      min: -180,
      max: 180,
      title: "Roll",
      label: "degrees"
  });

  var yawGauge = new JustGage({
      id: "yawGauge",
      value: 0,
      min: -180,
      max: 180,
      title: "Yaw",
      label: "degrees"
  });

  var vgxGauge = new JustGage({
      id: "vgxGauge",
      value: 0,
      min: -180,
      max: 180,
      title: "vgx",
      label: "cm/s"
  });

  var vgyGauge = new JustGage({
      id: "vgyGauge",
      value: 0,
      min: -180,
      max: 180,
      title: "vgy",
      label: "cm/s"
  });

  var vgzGauge = new JustGage({
      id: "vgzGauge",
      value: 0,
      min: -180,
      max: 180,
      title: "vgz",
      label: "cm/s"
  });

  // Function to update the gauges with new data
  function updateGauges() {
    fetch('/get_tello_data')
      .then(response => response.json())
      .then(data => {
          const timestamp = Date.now();
         updateXChart(timestamp, data.vgx, data.agx);
         updateYChart(timestamp, data.vgy, data.agy);
         updateZChart(timestamp, data.vgy, data.agz);

        // Update the temperature gauge
          if (data.templ && data.temph) {
          tempGauge.refresh((data.templ + data.temph) / 2);
        }

        // Update the battery gauge
        if (data.bat) {
          batteryGauge.refresh(data.bat);
        }

        // Update the altitude gauge
        if (data.h) {
          altitudeGauge.refresh(data.h);
        }

        if(data.pitch){
            pitchGauge.refresh(data.pitch);
        }

        if(data.roll){
            rollGauge.refresh(data.roll);
        }
        if(data.yaw){
            yawGauge.refresh(data.yaw);
        }

        if (data.vgx){
            vgxGauge.refresh(data.vgx);
            vgyGauge.refresh(data.vgy);
            vgzGauge.refresh(data.vgz);
        }



      });


  }

  updateGauges();

  // Update the gauges every .5 seconds
  setInterval(updateGauges, 500);

</script>


    {% endblock %}


</body>
</html>
