<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-dNwT8T2ra6myzIYUv9C1sN/wwO7lUH+NXpfvRc0m8JbyJe0M1fBcv1v7SEWqK8Pm7V12fcDnd7VvdvHgzVErBQ==" crossorigin="anonymous" />
</head>

<nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="config">Configuration</a>
        <a class="py-2 d-none d-md-inline-block" href="control">Control</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Flight</a>
        <a class="py-2 d-none d-md-inline-block" href="product">Product</a>
        <a class="py-2 d-none d-md-inline-block" href="support">Support</a>
        <a id="battery-link" class="py-2 d-none d-md-inline-block" href="#" onclick="connectToDrone()">Battery/Connect</a>


      </div>
</nav>
<script>
function updateBatteryLevel() {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/get_tello_battery');
  xhr.onload = function() {
    if (xhr.status === 200) {
      var batteryLevel = xhr.responseText;
      document.getElementById("battery-link").textContent = "Battery: " + batteryLevel;
    } else {
      alert('Request failed. Returned status of ' + xhr.status);
    }
  };
  xhr.send();
}

// Call updateBatteryLevel every 5 seconds
setInterval(updateBatteryLevel, 5000);
</script>

<script>
function connectToDrone() {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/connect_to_drone');
  xhr.send();
}

</script>




</html>