{% extends 'base.html' %}

<!DOCTYPE html>
{% block content %}


<html>
  <head>
    <title>Control page</title>
  </head>
  <body>
    <h1>lets go control the drone</h1>
    <!-- <button id="connectButton">Connect</button> -->
    <button id="takeoffButton">Takeoff</button>
    <button id="landButton">Land</button>
    <button id="upButton">Up</button>
    <button id="downButton">Down</button>
    <button id="leftButton">Left</button>
    <button id="rightButton">Right</button>
    <button id="forwardButton">Forward</button>
    <button id="backwardButton">Backward</button>
    <button id="rotateCWButton">Rotate Clockwise</button>
    <button id="rotateCCWButton">Rotate Counterclockwise</button>
    <button id="emergencyButton">Kill</button>
    <button id="pickButton">Pickup</button>
    <button id="dropButton">Dropoff</button>
    <button id="cameraButton">Camera</button>



    <center><form action="{{ url_for('connect') }}" method="post">
      <input type="submit" value="Connect">
    </form>
      <h1>Current Speed: {{ speed }} cm/s</h1>
    <form action="/increase">
      <input type="submit" value="Speed Up">
    </form>
      </center>
    <center><b><p>CONNECTION STATUS BELOW</p></b></center>
    <center><b><p>{{ status }}</p></b></center>
    <script>
      document.getElementById("takeoffButton").onclick = function() {
      // Make an AJAX request to the server to send the takeoff command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/takeoff", true);
      xhr.send();
      };
      document.getElementById("landButton").onclick = function() {
      // Make an AJAX request to the server to send the land command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/land", true);
      xhr.send();
      };
      document.getElementById("rightButton").onclick = function() {
      // Make an AJAX request to the server to send the move right command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/right", true);
      xhr.send();
      };
      document.getElementById("leftButton").onclick = function() {
      // Make an AJAX request to the server to send the move left command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/left", true);
      xhr.send();
      };
      document.getElementById("upButton").onclick = function() {
      // Make an AJAX request to the server to send the move up command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/up", true);
      xhr.send();
      };
      document.getElementById("downButton").onclick = function() {
      // Make an AJAX request to the server to send the move down command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/down", true);
      xhr.send();
      };
      document.getElementById("forwardButton").onclick = function() {
      // Make an AJAX request to the server to send the move down command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/forward", true);
      xhr.send();
      };
      document.getElementById("backwardButton").onclick = function() {
      // Make an AJAX request to the server to send the move down command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/backward", true);
      xhr.send();
      };
      document.getElementById("emergencyButton").onclick = function() {
      // Make an AJAX request to the server to send the emergency command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/kill", true);
      xhr.send();
      };
      document.getElementById("rotateCWButton").onclick = function() {
      // Make an AJAX request to the server to send the rotate clockwise command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/rotatecw", true);
      xhr.send();
      };
      document.getElementById("rotateCCWButton").onclick = function() {
      // Make an AJAX request to the server to send the rotate counterclockwise command to the drone
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/rotateccw", true);
      xhr.send();
      };
      document.getElementById("pickButton").onclick = function() {
      // Make an AJAX request to the server to make the drone pick the package
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/pick", true);
      xhr.send();
      };
      document.getElementById("dropButton").onclick = function() {
      // Make an AJAX request to the server to make the drone drop the package
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/drop", true);
      xhr.send();
      };
      document.getElementById("incrSpButton").onclick = function() {
      // Make an AJAX request to the server to make the drone drop the package
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/increase", true);
      xhr.send();
      };
      document.getElementById("decrSpButton").onclick = function() {
      // Make an AJAX request to the server to make the drone drop the package
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/decrease", true);
      xhr.send();
      };

    </script>


  </body>


{% endblock %}

</html>
