{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Control page</title>
  </head>
  <body>
    <h1>Let's go control the drone</h1>
    <button id="connectButton">Connect</button>
    <button id="takeoffButton">Takeoff</button>
    <button id="landButton">Land</button>
    <button id="upButton">Up</button>
    <button id="downButton">Down</button>
    <button id="leftButton">Left</button>
    <button id="rightButton">Right</button>
    <button id="rotateCWButton">Rotate Clockwise</button>
    <button id="rotateCCWButton">Rotate Counterclockwise</button>
    <button id="emergencyButton">Kill</button>
    <button id="pickButton">Pickup</button>
    <button id="dropButton">Dropoff</button>
    <script>
      const endpoints = [
        '/connect',
        '/takeoff',
        '/land',
        '/right',
        '/left',
        '/up',
        '/down',
        '/kill',
        '/rotatecw',
        '/rotateccw',
        '/pick',
        '/drop'
      ];

      endpoints.forEach(endpoint => {
        document.getElementById(endpoint.slice(1).toLowerCase() + 'Button').onclick = function() {
          const xhr = new XMLHttpRequest();
          xhr.open("POST", endpoint, true);
          xhr.send();
        };
      });
    </script>
  </body>
</html>
{% endblock %}
