{% extends 'base.html' %}

<!DOCTYPE html>
{% block content %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body style="background-color:beige;">
    <h1><center>Welcome to our Drone Delivery System</center></h1>
    <p><center>Our system demonstrates localization and pathfinding of the DJI RoboMaster TT Tello Drone</center></p>
    <p>There are three webpages: <b>Configuration</b>, <b>Control</b>, and <b>Visualization</b></p>
    <p><b>Configuration</b> allows user to specify a flight plan, along with special operations for drone to execute delivery</p>
    <p><b>Control</b> allows user to manually deliver item with the drone</p>
    <p><b>Visualization</b> consists of a map displaying a mock environment with the drone’s location updated in real time, <br>
      along with a small map showing constant overlay
      of critical flight data</p>
    <img src="/static/drone.jpg" align="right" alt="RoboMaster TT Tello Drone" style="width:250px;height:250px;">
  </body>
</html>


{% endblock %}